cat >> .gitignore <<'EOF'
# Entorno virtual
venv/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
# Jupyter
.ipynb_checkpoints/
# IDEs / OS
.vscode/
.idea/
.DS_Store
# Entornos / variables
.env
# Datos grandes
/data/
/*.sqlite3
# notebooks output (opcional)
*.nbconvert.ipynb
EOF
Desaparecidos*20251003.csv
Desaparecidos._Colombia,_histórico,_años_1930_a_julio_de_2025_20251003.csv
